<!DOCTYPE html>
<html>
<head>
  <title>Watchman Projects</title>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <nav><%=link_to "Home", root_path%>
  <% if @project %>
    &raquo; <%=@project.name%>
  <% end %>
  </nav>

<%= yield %>

</body>
</html>



